
body {

  	background: $background url('#{$waves}') no-repeat left bottom;
  	background-size: 100% auto;
}

::placeholder {
	
	color: $text;	
	opacity: .3;
	transition: opacity .2s;
}

:focus::placeholder {
	
	opacity: 0;
}


.col {
	
	float: left;
	width: percentage(1/2);
}
